
@import "bootstrap-sprockets";
@import "bootstrap";



.pin-index{
	background: #bd081c;
	
}

.navbar {
	text-align: center;
	padding: 10px 10px 5px;
	background-color: #fff
}

.banner {
	width: 100%;
	margin-bottom: 20px;

}

.center {
  text-align: center;
}
.pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: relative;
  background: #fff;

}



