
@import "bootstrap-sprockets";
@import "bootstrap";



body {
	background-color: #bd081c;
	
}

.navbar {
	text-align: center;
	padding: 10px 10px 5px;
	background-color: #fff
}

.navbar .left-side {
	float: left;
}


.center {
  text-align: center;
}
.pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: relative;
  background: #fff;

}



