
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";




.pin-index{
	background: #fff;
	
}

.navbar {
	text-align: center;
	padding: 10px 10px 5px;
	background-color: #fff;
	margin-bottom: -20px;
}


.dropdown-menu {
	margin-left: 850px;
}

.trydemo-btn {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.trydemo-btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  
}

.trydemo-btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
  margin-left: 45%;
}
.banner {
	width: 100%;
	margin-bottom: 20px;
}

.center {
  text-align: center;
}

.pins {
  margin: 0 auto;

  
}

.box {
  margin: 5px;
  width: relative;
  background: #DCDCDC;
  border-radius: 15px;


}

.popup .popup-wrap {
	position: fixed;
	top-margin: 100px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0.80;
}


.popup .popup-content {
	position: fixed;

}

.post-popup {
	width: 100%;
	height: 100%;
	right: 10px;
	top: 0;
	background-color: white;

}
.post-popup h1 {
	color: #fff;
}



.post-popup .post-header {
	background: #bd081c;
	color: white;
	text-align: center;
	padding: 20px;
	height: 20%;
}

.post-popup .post-footer {
	background: #f2f2f2;
	text-align: center;
	padding: 20px 0;
	height: 10%;
}

.post-popup > section {
	font-size: 14px;
	border: 1px solid #f2f2f2;
	padding: 20px 0;
	height: 70%;
	color: #928B8B;
}

.post-popup > section table {
	width: 100%;
}

.post-popup > section table tr td {
	padding: 30px;
}

.post-popup > section table tr td:first-child {
	width: 20%;
}

.post-popup > section table tr td:last-child {
	width: 80%;
	border-bottom: 1px solid #f2f2f2;
}

.post-popup > section table input {
	border: 0;
	outline: 0;
	font-size: 13px;
	width: 100%;
}
	


/*PIN NEW STYLE FORM */


 textarea {
      height: 150px;
  }


.container {
  width: 95%;
  max-width: 1200px;
  margin: 2rem auto;
}
.demo-content {
  margin-bottom: 1rem;
  background: #fff;
  padding: 2rem;
}

.form-grid {
  max-width: 600px;
  margin: 0 auto;}
  
  
.file-button{
	padding-left: 18%
}

#footer {
    position: absolute;
	bottom: 0;
}
